@page "/users"
@using Una.Presentation.Wasm.Models;
@using Una.Presentation.Wasm.Services;
@using Una.Presentation.Wasm.Services.Providers;
@using Una.Presentation.Wasm.Utilities;
@using Una.Presentation.Wasm.Extensions
@inject IRequestProvider requestProvider;

<PageTitle>Usuários</PageTitle>

<h1>Listagem de usuários</h1>

@if (users == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Usuário</th>
                <th>Senha</th>
                <th>Gender</th>
                <th>Nascimento</th>
                <th>Idade</th>
                <th>Ativo</th>
                <th>Criação</th>
                <th>Alteração</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>
                        <a href='/users/@user.Id'>@user.Name</a>
                    </td>
                    <td>@user.Email</td>
                    <td>@user.Username</td>
                    <td>@user.Password.Mask()</td>
                    <td>@user.Gender</td>
                    <td>@user.DateOfBirth</td>
                    <td>@(DateTime.Now.Year - user.DateOfBirth.Year)</td>
                    <td>@user.IsActive</td>
                    <td>@user.CreatedAt</td>
                    <td>@user.UpdatedAt</td>
                    <td>
                        <a class="btn btn-primary" href='/users/edit/@user.Id'>Editar</a>
                        <a class="btn btn-danger" @onclick="() => DeleteAsync(user.Id)">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        var uri = $"{GlobalSettings.BaseUrl}/users";
        users = await requestProvider.GetAsync<List<User>>(uri);
    }

    protected async Task DeleteAsync(int id)
    {
        var uri = $"{GlobalSettings.BaseUrl}/users/{id}";
        await requestProvider.DeleteAsync(uri);
        await OnInitializedAsync();
    }
}
